main {
  background: linear-gradient(
    90deg,
    hsla(175, 79%, 63%, 1) 0%,
    hsla(82, 96%, 57%, 1) 100%
  );
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  /* border: 2px solid black; */
}

.description {
  display: block;
  padding: 2rem;
  width: 100%;
  /* border: 1px solid red; */
}

.description h1 {
  font-size: 2.7rem;
  margin-bottom: 2rem;
}

.description p {
  font-size: 1.2rem;
}

.search {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.search input {
  width: 80%;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
  border: none;
}

.search button {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  background-color: #dbf73b;
}

.search button svg {
  margin-left: 0.5rem;
}
